.features {
  background-color: rgb(238, 238, 238);
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 21px;
}

.features__title {
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
