.features {
  background-color: rgb(238, 238, 238);
  color: $text_color_gray;
  font-size: 14px;
  line-height: 21px;
}

.features__title {
  color: $text_color_black;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
