.feature-second {
  background-color: rgb(129, 179, 210);
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}

.feature-second__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
