.page-footer {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.page-footer__developer {
  font-size: 14px;
  line-height: 26px;
}
