.places__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.places__author {
  font-size: 14px;
  line-height: 24px;
  color: rgb(51, 51, 51);
}

.places__amount-likes {
  font-size: 14px;
  line-height: 24px;
}
