.send-success__title,
.send-success__button {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.send-success__info {
  font-size: 14px;
  line-height: 24px;
  color: $text_color_gray;
}
