@fontface {
  font-family: 'PTSans';
  src: url('source/fonts/ptsans.woff') format('woff'),
  url('source/fonts/ptsans.woff2') format('woff2'),
  url('source/fonts/ptsansbold.woff') format('woff'),
  url('source/fonts/ptsansbold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
